<!-- .....:::::: Start Footer Section :::::.... -->
<footer class="footer-section footer-bg">
    <!-- Start Footer Top -->
    <div class="footer-top">
       
        <div class="bg-color-bold-red"></div>
    </div>
    <!-- Start Footer Top -->

    <!-- Start Footer Center -->
    <div class="footer-center section-top-space">
        <div class="container">
            <div class="row justify-content-xl-between">
                <div class="col-xl-auto col-md-6 col-12">
                    <div class="footer-widget-single-item">
                        <h3 class="title">LUKUBARA</h3>

                        <ul class="footer-about">
                            <li>
                                <div class="text">Spesialis Kustomisasi dan Integrasi <br> Sistem ERP, Solusi Meningkatkan <br> Performa ERP Anda</div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-xl-auto col-md-6 col-12">
                    <div class="footer-widget-single-item">
                        <h3 class="title">HUBUNGI KAMI</h3>

                        <ul class="footer-about">
                            <li>
                                <div class="text"><span class="text-marker">Lokasi:</span>Alamanda Regency Cluster Barcelona <br> Blok BC 7 No 3, Karangsatria, Bekasi</div>
                            </li>
                            <li>
                                <div class="text"><span class="text-marker">Phone:</span><a href="tel:+0123456789">+62 852-7727-6561</a></div>
                            </li>
                            <li>
                                <div class="text"><span class="text-marker">Web:</span><a href="https://www.example.com">www.lukubara.com</a></div>
                            </li>
                            <li>
                                <div class="text"><span class="text-marker">Email:</span> <a href="mailto:demo@example.com">support@lukubara.com</a> </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-auto col-md-6 col-12">
                    <div class="footer-widget-single-item">
                        <h3 class="title">LAYANAN KAMI</h3>
                        <ul class="footer-nav">
                            <li><a href="#">QAD Customization</a></li>
                            <li><a href="#">QAD WMS Implementation</a></li>
                            <li><a href="#">QAD Integration to Web/Mobile</a></li>
                            <li><a href="#">ERPNEXT Implementation</a></li>
                            <li><a href="#">ERPNEXT Customization</a></li>
                            <li><a href="#">WEB Development</a></li>
                        </ul>
                    </div>
                </div>
                {% comment %} <div class="col-xl-auto col-md-6 col-12">
                    <div class="footer-widget-single-item">
                        <h3 class="title">QUICK LINKS</h3>
                        <ul class="footer-nav">
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Management</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Start Footer Center -->

    <!-- Start Footer Bottom -->
    <div class="footer-bottom ">
        <div class="container">
            <div class="row justify-content-md-between justify-content-center align-items-center flex-column-reverse flex-md-row">
                <div class="col-auto">
                    <div class="footer-bottom-left">
                        <div class="footer-copyright">
                            <p class="copyright-text">&copy; 2024 <a href="index.html">LUKUBARA COMPANY</a> <!--Made with <i class="icofont-heart"></i> by <a href="https://hasthemes.com/" target="_blank">HasThemes</a>--> </p>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="footer-bottom-right">
                        <ul class="footer-soacial">
                           {% comment %}  <li><a href="https://www.example.com" target="_blank">Facebook</a></li> {% endcomment %}
                            <!--<li><a href="https://www.example.com" target="_blank">Twitter</a></li>-->
                            <li><a href="#" target="_blank">Twitter</a></li>
                            <li><a href="https://www.linkedin.com/in/lukubara-sistem-36a24030a" target="_blank">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
</footer>
<!-- .....:::::: End Footer Section :::::.... -->