<ul class="header-nav">
    <li><a href="{%url 'index' %}">Home</a></li>
    <li class="has-dropdown">
        <a href="{%url 'services'%}">Services</a>
        <ul class="submenu">
            <li><a href="{%url 'qad_customization_list'%}">QAD Customization</a></li>
            <li><a href="service-details.html">QAD WMS Implementation</a></li>
            <li><a href="#">QAD Integration to Web/Mobile</a></li>
            <li><a href="service-details.html">ERPNEXT Implementation</a></li>
            <li><a href="#">ERPNEXT Customization</a></li>
            <li><a href="service-details.html">WEB Development</a></li>
        </ul>
    </li>
{% comment %}     <li class="has-dropdown">
        <a href="project-list.html">Proyek</a>
        <ul class="submenu">
            <li><a href="project-list.html">Project</a></li>
            <li><a href="project-details.html">Project Details</a></li>
        </ul>
    </li> {% endcomment %}
{% comment %}     <li class="has-dropdown">
        <a href="blog-list.html">Blog</a>
        <ul class="submenu">
            <li><a href="blog-list.html">Blog List Full Width</a></li>
            <li><a href="blog-list-sidebar-left.html">Blog List Left Sidebar</a></li>
            <li><a href="blog-list-sidebar-right.html">Blog List Right Sidebar</a></li>
            <li><a href="blog-details.html">Blog Details Full Width</a></li>
            <li><a href="blog-details-sidebar-left.html">Blog Details Left Sidebar</a></li>
            <li><a href="blog-details-sidebar-right.html">Blog Details Right Sidebar</a></li>
        </ul>
    </li> {% endcomment %}

    <li><a href="{%url 'contactus' %}">Contact Us</a></li>
{% comment %}     <li><a href="contact.html">Contact</a></li> {% endcomment %}
</ul>